<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1>Details course</h1>
<hr>
    <h3>Course: <%= course.course %> </h3>
    <h3>Description: <%= course.description %> </h3>
    <h3>Location: <%= course.location %>  </h3>
    <a href="/instructor/allCourses/<%= userId %>" style="background: rgb(0, 78, 126); color: rgb(255, 255, 255); padding: 7px; border-radius: 10px;">back</a>

</body>
</html>